*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    max-height: 100%;
}
img{
    max-width: 100%;
}
.container{
    width: 85%;
    margin: 0 auto;
    /* Navigation Bar */
    & nav{
        padding: 2em 0 5em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .img{
            width: 25%;
        }
        & ul{
            width: 60%;
            font-family: 'Raleway';
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & li{
                margin-left: .7em;
                font-size: 1rem;
                color: hsl(243, 87%, 12%);
            }
        }
    }
    /* First Section */
    .first{
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        & .info{
            text-align: center;
            & h1{
                font-family: 'Open Sans';
                color: hsl(243, 87%, 12%);
                font-size: 1.5rem;
                padding-bottom: 1em;
            }
            & p{
                font-family: 'Open Sans';
                color: hsl(243, 87%, 12%);
                font-size: 1rem;
                padding-bottom: 1.5em;
            }
            & .eg{
                display: flex;
                flex-direction: column;
                & #em{
                    padding: 1em;
                    border: 2px solid hsl(243, 87%, 12%);
                    border-radius: 5px;
                    margin-bottom: 1em;
                    font-family: 'Raleway';
                    opacity: .4;
                }
                & button{
                    padding: 1em;
                    border: 0;
                    background-color: hsl(224, 93%, 58%);
                    border-radius: 5px;
                    color: white;
                    font-family: 'Raleway';
                    font-weight: 700;
                }
            }
        }
    }
    /* Second Section */
    .second{
        box-shadow: 0 0 0 100vmax hsl(240, 75%, 98%);
        clip-path: inset(0 -100vmax);
        background-image: url("images/bg-curve-mobile.svg");
        background-repeat: no-repeat;
        background-color: hsl(240, 75%, 98%);
        background-position: top;
        background-size: cover;
        padding-bottom: 3em;
        & .img{
            margin-bottom: 2em;
        }
        & .info{
            padding-top: 2em;
            text-align: center;
            & h1{
                text-align: center;
                font-family: 'Open Sans';
                color: hsl(243, 87%, 12%);
                font-size: 1.2rem;
                padding-bottom: 2em;
            }
            & p{
                font-family: 'Open Sans';
                color: hsl(243, 87%, 12%);
                font-size: .9rem;
                text-align: left !important;
                opacity: .9;
                padding-bottom: 1em;
            }
            & h2{
                position: relative;
                color: hsl(170, 45%, 43%);
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 1.2rem;
                text-decoration: underline;
                text-underline-offset: 13px;
                padding: 2em 0;
                & span img{
                    width: 10%;
                    position: absolute;
                    max-width: 33px;
                }
            }
            & .rev{
                position: relative;
                width: 97%;
                max-width: 450px;
                margin: 0 auto;
                padding: 1.5em;
                border-radius: 5px;
                background-color: white;
                & p{
                    position: relative;
                    font-size: .9rem;
                    padding-top: .7em;
                    color: hsl(243, 87%, 12%);
                    line-height: 1.7em;
                }
                & p::before{
                    content: "\❝";
                    position: absolute;
                    top: -8%;
                    font-size: 2em;
                }
                & .avat{
                    /* max-width: 380px; */
                    width: 75%;
                    position: relative;
                    right: 8%;
                    font-family: 'Open Sans';
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & .svg{
                        width: 50%;
                        & img{
                            width: 50%;
                            border-radius: 50%;
                        }
                    }
                    & .name{
                        position: absolute;
                        width: 50%;
                        top: 15%;
                        left: 40%;
                        color: hsl(243, 87%, 12%);
                        display: flex;
                        flex-direction: column;
                        & span:nth-of-type(1){
                            font-weight: bold;
                        }
                        & span:nth-of-type(2){
                            font-size: 0.51rem;
                        }
                    }
                }
            }
        }
    }
    /* Third Section */
    .Third{
        box-shadow: 0 0 0 100vmax hsl(238, 22%, 44%);
        clip-path: inset(0 -100vmax);
        background-color: hsl(238, 22%, 44%);
        z-index: -1;
        font-family: 'Open Sans';
        & .txt{
            margin-bottom: 2em;
            & h1{
                padding: 2em 1.5em 1em 1.5em;
                text-align: center;
                color: white;
                font-weight: 400;
                font-size: 1.3rem;
            }
            & p{
                color: white;
                font-size: 1rem;
                font-weight: 100;
                text-align: center;
                opacity: .9;
            }
        }
        & .eg{
            display: flex;
            flex-direction: column;
            & #xd{
                padding: 1em;
                margin-bottom: 3%;
                border-radius: 5px;
                border: 2px solid hsl(243, 87%, 12%);
            }
            & button{
                padding: 1em;
                border: 0;
                background-color: hsl(224, 93%, 58%);
                border-radius: 5px;
                color: white;
                font-family: 'Raleway';
                font-weight: 700;
                margin-bottom: 3em;
            }
        }
    }
    /* Last Section */
    .footer{
        box-shadow: 0 0 0 100vmax hsl(243, 87%, 12%);
        clip-path: inset(0 -100vmax);
        background-color: hsl(243, 87%, 12%);
        padding: 2em 0;
        color: white;
        font-family: 'Open Sans';
        & .img{
            & img{
                filter: invert(100%) sepia(8%) saturate(2%) hue-rotate(164deg) brightness(107%) contrast(101%);
            }
        }
        & .s1{
            margin-top: 1em;
            font-weight: 400;
            font-size: .6rem;
            & img{
                width: 5%;
                margin-right: 1em;
            }
            & h2{
                padding-bottom: 1em;
                font-weight: 400;
            }
        }
        & ul{
            display: flex;
            list-style: none;
            flex-direction: column;
            & li{
                margin-bottom: .5em;
            }
        }
        & .s2{
            padding: 1em 0 2em 0;
            font-weight: 400;
        }
        & .s4{
            width: 70%;
            font-weight: 400;
            margin: 5% auto;
            display: flex;
            justify-content: center;
            & i:nth-of-type(1){
                padding: .5em 0.7em !important;
            }
            & i{
                margin-right: 1em;
                padding: .5em;
                border-radius: 50%;
                border: 1px solid white;
            }
        }
        & footer{
            text-align: center;
        }
    }
}
@media screen and (min-width:1000px){
    .container{
        width: 90%;
        margin: 0 auto;
        /* Navigation Bar */
        & nav{
            padding: 2em 0 5em 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .img{
                width: 25%;
            }
            & ul{
                align-self: center;
                width: 30%;
                font-family: 'Raleway';
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & li{
                    margin-left: .7em;
                    font-size: 1rem;
                    color: hsl(243, 87%, 12%);
                }
            }
        }
        /* First Section */
        .first{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 5% 0;
            & .img{
                width: 45%;
            }
            & .info{
                width: 45%;
            }
        }
        /* Second Section */
        .second{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 3em;
            & .img{
                margin-bottom: 2em;
                width: 45%;
            }
            & .info{
                width: 50%;
                padding-top: 2em;
                text-align: left !important; 
                & h1{
                    text-align: left !important;
                }
                & p{
                    text-align: left !important;
                }
                & h2{
                    position: relative;
                    color: hsl(170, 45%, 43%);
                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 1rem;
                    text-decoration: underline;
                    text-underline-offset: 13px;
                    padding: 0 2em 2em 0;
                    & span img{
                        width: 8%;
                    }
                }
                & .rev{
                    max-width: 700px;
                    position: relative;
                    width: 97%;
                    right: 2%;
                    padding: 1.5em;
                    & .avat{
                        max-width: 249px;
                        width: 75%;
                        position: relative;
                        left: 0;
                        font-family: 'Open Sans';
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        & .svg{
                            width: 50%;
                            & img{
                                width: 50%;
                                border-radius: 50%;
                            }
                        }
                        & .name{
                            position: absolute;
                            width: 50%;
                            top: 15%;
                            left: 30%;
                            color: hsl(243, 87%, 12%);
                            display: flex;
                            flex-direction: column;
                            & span:nth-of-type(1){
                                font-weight: bold;
                            }
                            & span:nth-of-type(2){
                                font-size: 0.51rem;
                            }
                        }
                    }
                }
            }
        }
        /* Third Section */
        .Third{
            font-family: 'Open Sans';
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            & .txt{
                width: 45%;
                & h1{
                    padding: 2em 0 1em 0;
                    text-align: left !important;
                    font-weight: 700 !important;
                }
                & p{
                    text-align: left !important;
                }
            }
            & .eg{
                padding: 2em 0 1em 0;
                width: 50%;
                display: flex;
                flex-direction: column;
                & #xd{
                    padding: 1em;
                    margin-bottom: 3%;
                }
                & button{
                    width: 40%;
                    padding: 1em;
                    margin-bottom: 3em;
                }
            }
        }
        /* Last Section */
        .footer{
            .socials{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                & .s1{
                    width: 40%;
                }
                & .s2{
                    width: 20%;
                }
                & .s3{
                    width: 15%;
                    margin-left: 2em;
                }
                & .s4{
                    width: 30%;
                }
            }
        }
    }
}